<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SampleConfiguration.ConnectionString" connectionString="CString" providerName="PName"/>
    <add name="SampleConfiguration.ConnectionStringWithoutProviderName" connectionString="CString2"/>
    <add name="ISampleConfiguration.ConnectionString" connectionString="CStringForInterface" providerName="PNameForInterface"/>
    <add name="ISampleConfiguration.ConnectionStringWithoutProviderName" connectionString="CStringForInterface2"/>
  </connectionStrings>
  <appSettings>
    <add key="SampleConfiguration.Value1" value="Value1FromAppConfig"/>
    <add key="ISampleConfiguration.Value1" value="InterfaceValue1FromAppConfig"/>
    <add key="SampleConfiguration.Value2" value="1337"/>
    <add key="ISampleConfiguration.Value2" value="1338"/>
    <add key="SampleConfiguration.Value3" value="true"/>
    <add key="ISampleConfiguration.Value3" value="false"/>
    <add key="SampleConfiguration.List" value="one;two;three"/>
    <add key="ISampleConfiguration.List" value="two;three;four"/>
    <add key="SampleConfiguration.Array" value="1;2;3"/>
    <add key="ISampleConfiguration.Array" value="2;3;4"/>
    <add key="IConfigurationWithUnsupporterdPropertyType.UnsupportedProperty" value="DoesNotMatter"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
