<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SimpleConfiguration.Value1" value="Value1FromAppConfig" />
    <add key="ISimpleConfiguration.Value1" value="InterfaceValue1FromAppConfig" />
    <add key="SimpleConfiguration.Value2" value="1337" />
    <add key="ISimpleConfiguration.Value2" value="1338" />
    <add key="SimpleConfiguration.Value3" value="true" />
    <add key="ISimpleConfiguration.Value3" value="false" />
  </appSettings>
</configuration>